<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.grv.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        {% block extra_css %}
        {% endblock %}
        {% block head_js %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-fixed-top navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">Title</a>
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
                {% block extra_nav %}
                {% endblock %}
            </div>
        </div>
        <div class="container-fluid" style="margin-top:48px">
            <div class="row-fluid">
            {% block main_content %}
                
            {% endblock %}
            </div>
        </div>
        {% block body_js %}
        {% endblock %}
    </body>
</html>